#page + center{
	display: none;
}

video{
	background: #000000;
}

#page{
	font-family: 'Lato', Arial, sans-serif;

	background-image: url(images/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #f18e5f;
}
.container{
	background-color: #fff;
}

@media (min-width: 1024px){
	.container{
		padding: 0 30px;
	}
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.margin-top{
	margin-top: 20px;
}

.margin-bottom{
	margin-bottom: 20px;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.hidden{
	display: none;
}

.heading{
	background-color: #3d4850;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 10px;
}

.subheading{
	font-size: 13px;
	font-weight: bold;
	padding: 10px 0;
	color: #3d4850;
}


h1{
	font-size: 16px;
	color: #3d4850;
}

h2{
	font-size: 15px;
	color: #3d4850;
}

h3{
	font-size: 15px;
	color: #3d4850;
}

h4{
	font-size: 15px;
	color: #3d4850;
}

h5{
	font-size: 15px;
	color: #3d4850;
}

a{
  color: #0275d8;
}

a:focus, a:hover{
  color: #014c8c;
}


.img-responsive{
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-center{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.sentinel{
	width: 100%;
}


.transition{
	transition: all .15s linear;
	-o-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-webkit-transition: all .15s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
 

@keyframes fadeInImage {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }


.form-control{
	font-size: 14px;
	color: #3d4850;
	padding: 5px 10px;
	border: 1px solid #dedede;
}


.buttons{
	margin: 40px 0 0;
}

.btn{
	float: left;
	display: inline-block;
	padding: 10px 15px;
	font-size: 13px;
	white-space: nowrap;
	vertical-align: middle;
	margin: 0 10px 10px 0;
	border-radius: 2px;
	
	cursor: pointer;
	-ms-touch-action: manipulation;
 	touch-action: manipulation;
	-webkit-user-select: none;
 	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.buttons .btn:last-child{
	margin-right: 0;
}


.btn-default{
	background-color: #3e9adb;
	color: #fff;
}

.btn-default:hover{
	text-decoration: none;
	background-color: #3e9adb;
	color: #fff;
}

.btn-primary{
	background-color: #3d4850;
	border-color: #3d4850;
	color: #ffffff;
}

.btn-primary:hover{
	text-decoration: none;
	background-color: #444444;
	color: #ffffff;
}


#header-top .container{
	background-color: #3d4850;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}

#header-top h2{
	float: left;
	margin: 0;
	line-height: 13px;
	font-size: 13px;
	color: #fff;
	font-weight: normal;
}

#header-top h2 span{
	color: #9ac9d7;
}

@media (max-width: 575px){
	#header-top .container{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	#header-top h2{
		float: none;
		font-size: 12px;
		line-height: 12px;
	}
}

#header-top nav{
	float: right;
	margin-right: -10px;
}

#header-top nav a{
	float: left;
	padding: 0 10px;
	line-height: 13px;
	font-size: 13px;
	color: #ffffff;

	border-left: 1px solid #646d73;
}

#header-top nav a:first-child{
	border: 0;
}

#header-top nav a:hover{
	color: #ffffff;
}

@media (max-width: 767px){
	#header-top nav{
		display: none;
	}
}

@media (max-width: 575px){
}


#header{
	text-align: center;
}

#header .logo{
	display: inline-block;
	float: left;
	margin: 15px 0;
}

#header .logo img{
	max-width: 100%;
}

@media (max-width: 575px){
	#header .logo{
		float: none;
		margin: 5px 0 8px;
	}
	#header .logo img{
		width: 220px;
	}
}

#header .contact{
	float: right;
	margin: 45px 0 0;
	text-align: left;
}

#header .contact h2{
	margin: 0;
	font-weight: 900;
	color: #eb6737;
	font-size: 14px;
}

#header .contact a{
	padding: 0 0 0 12px;

	font-size: 15px;
	color: #3d4850;

	background-image: url(images/arrow-link.png);
	background-repeat: no-repeat;
	background-position: left center;
}


#selling-points .container{
	background-color: #f7f7f7;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#selling-points span{
	display: inline-block;
	line-height: 26px;

	font-size: 12px;
	color: #3d4850;
	font-weight: 900;
	text-transform: uppercase;

	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 32px;
}

@media (max-width: 1023px){
	#selling-points span{
		font-size: 11px;
	}
}

#selling-points .row div:nth-of-type(1) span{
	background-image: url(images/icon-1.png);
	padding-left: 40px;
}

#selling-points .row div:nth-of-type(2) span{
	background-image: url(images/icon-2.png);
}

#selling-points .row div:nth-of-type(3) span{
	background-image: url(images/icon-3.png);
}

@media (max-width: 767px){
	#selling-points .container{
		padding-top: 7px;
		padding-bottom: 7px;
	}
	#selling-points span{
		line-height: normal;

		font-size: 9px;

		background-position: center top;
		padding: 28px 0 0 !important;
	}
}


#main .container{
	padding-top: 30px;
	padding-bottom: 20px;
}

@media (max-width: 767px) {
	#main .container{
		padding-top: 15px;
	}
}

@media (min-width: 1024px) {
	.pad{
		padding: 0 40px;
	}
}


.images{
	position: relative;
	margin-right: -15px;
	text-align: center;
}

@media (max-width: 575px){
	.images{
		margin-right: 0;
	}
}

.images .main-sentinel{
	width: 100%;
}

.images .image{
	width: 20%;
	display: inline-block;
	position: static;
	padding-right: 15px;
}

@media (max-width: 1023px){
	.images .image{
		width: 25%;
	}
}

@media (max-width: 767px){
	.images .image{
		width: 33.33%;
	}
}

.images .image[data-image=""]{
	display: none;
}


.image .thumbnail{
	width: 100%;
	position: relative;
	cursor: pointer;
	border: 1px solid #dfdfdf;
	margin-bottom: 15px;
	padding-bottom: 100%;
	top: 15px;
}

.image .thumbnails-control{
	display: none;
}

.image .thumbnails-control:checked + .thumbnail{
}

.image #thumbnail-control-video:checked ~ #image-video,
.image #thumbnail-control-1:checked ~ #image-1,
.image #thumbnail-control-2:checked ~ #image-2,
.image #thumbnail-control-3:checked ~ #image-3,
.image #thumbnail-control-4:checked ~ #image-4,
.image #thumbnail-control-5:checked ~ #image-5,
.image #thumbnail-control-6:checked ~ #image-6,
.image #thumbnail-control-7:checked ~ #image-7,
.image #thumbnail-control-8:checked ~ #image-8,
.image #thumbnail-control-9:checked ~ #image-9,
.image #thumbnail-control-10:checked ~ #image-10,
.image #thumbnail-control-11:checked ~ #image-11,
.image #thumbnail-control-12:checked ~ #image-12,
.image #thumbnail-control-13:checked ~ #image-13,
.image #thumbnail-control-14:checked ~ #image-14,
.image #thumbnail-control-15:checked ~ #image-15,
.image #thumbnail-control-16:checked ~ #image-16{
	display: block;
}

@media (max-width: 575px) {
	.images{
		text-align: center;
		margin-bottom: 15px;
	}
	.images .image{
		width: auto;
		float: none;
		display: inline-block;
		padding: 0;
	}
	.image .thumbnail{
		width: 16px;
		height: 16px;
		border-radius: 100%;
		margin: 10px 5px 0;
		padding-bottom: 0;
		border: 2px solid #3d4850;
	}
	.image .thumbnails-control:checked + label{
		background-color: #3d4850;
	}
	.image .thumbnail img{
		display: none;
	}
}

.image .main{
	animation-name: fadeIn;
    animation-duration: 0.5s;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: none;
	cursor: pointer;
}

@media (max-width: 575px){
	.image .main{
		padding-right: 0;
	}
}

.image .main .main-content{
	position: relative;
	padding-bottom: 100%;
}

.image .main video{
	width: 100%;
}

.image .main .prev,
.image .main .next{
	background-size: cover;
	position: absolute;
	width: 30px;
	height: 75px;
	top: 50%;
	margin-top: -37px;
	cursor: pointer;

	background-color: #3d4850;
	background-position: center;
	background-repeat: no-repeat;
}

.image .main .prev{
	left: -15px;
	background-image: url('images/prev2.png');
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.image .main .next{
	right: -15px;
	background-image: url('images/next2.png');
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.image .main .prev[data-prev=""],
.image .main .next[data-next=""]{
	display: none;
}

.image .main-control{
	display: none;
}

@media (min-width: 576px) {
	.image .main .prev,
	.image .main .next{
		display: none;
	}
}


@media (min-width: 768px) {
	.image .main-control:checked + .main{
		animation-name: fadeInImage;
  		animation-duration: 0.5s;
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		background-color: rgba(0,0,0,0.65);
		text-align: center;
	}
	.image .main-control:checked + .main .main-content{
		position: relative;
		border: 0;
		width: 600px;
		height: 600px;
		padding: 0;
		background-color: #ffffff;
		margin: 50px auto 0;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
	}
	.image .main-control:checked + .main .main-content img{
		max-width: 100%;
	}
	.image .main-control:checked + .main .main-content .prev,
	.image .main-control:checked + .main .main-content .next{
		display: none;
	}
	.image .main .main-content:after{
		content: "";
		background-image: url('images/zoom.png');
		background-repeat: no-repeat;
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 19px;
		height: 19px;
	}
	.image .main-control:checked + .main .main-content:after{
		bottom: auto;
		left: auto;
		top: 10px;
		right: 10px;
		width: 19px;
		height: 19px;
		padding: 0;
		content: "";
		background-image: url('images/close.png');
	}
}

@media (min-width: 1024px) {
	.image .main-control:checked + .main .main-content{
		width: 800px;
		height: 800px;
	}
}


h1.title{
	margin-bottom: 25px;
	font-size: 27px;
	font-weight: normal;
	color: #2d363c;
	line-height: 1.1;
}

@media (max-width: 575px){
	h1.title{
		margin-bottom: 15px;
		font-size: 22px;
	}
}


.rrp{
	color: #787878;
}
.rrp[data-rrp=""],
.rrp[data-rrp="0.00"]{ display: none; }

.rrp .label{
	font-size: 15px;
}

.rrp .currency,
.rrp .value{
	font-size: 15px;
	text-decoration: line-through;
}


.main-price{
	display: inline-block;
	margin-right: 10px;
	color: #2d363c;
}
.main-price[data-price=""],
.main-price[data-price="0.00"]{ display: none; }

.main-price .currency,
.main-price .value{
	font-size: 28px;
}

.price-saving-percentage{
	display: inline-block;
	color: #ee4444;
	text-transform: uppercase;
	font-weight: 900;
}
.price-saving-percentage[data-save=""],
.price-saving-percentage[data-save="0"],
.price-saving-percentage[data-save="0%"]{ display: none; }

.price-saving-percentage .label{
	font-size: 17px;
}

.price-saving-percentage .value{
	font-size: 17px;
}


.delivery{
	margin-top: 25px;
	color: #3e9adb;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 900;
}

@media (max-width: 575px){
	.delivery{
		margin-top: 15px;
	}
}


.item-description{
	margin-bottom: 25px;

	font-size: 15px;
	line-height: 1.5;
	color: #3d4850;
}

@media (max-width: 575px){
	.item-description{
		margin-bottom: 15px;
	}
}


.item-description img{
	max-width: 100%;
	width: auto !important;
	height: auto !important;
}

.item-description ul li,
.item-description ol li{
	margin-bottom: 4px;
}

.item-description table{
	font-size: 13px;
}

.item-description font,
.item-description b font,
.item-description strong font,
.item-description p font,
.item-description ul li font,
.item-description ol li font,
.item-description th font,
.item-description td font,
.item-description h2 font,
.item-description h3 font,
.item-description h4 font,
.item-description h5 font,
.item-description b,
.item-description strong{
	font-size: inherit !important;
	font-family: inherit !important;
	line-height: inherit !important;
}

.item-description p,
.item-description ul li,
.item-description ol li,
.item-description th,
.item-description td,
.item-description h2,
.item-description h3,
.item-description h4,
.item-description h5,
.item-description span,
.item-description div{
	font-family: inherit !important;
	line-height: inherit !important;
}


.tabs{
	margin-top: 15px;
	border: 1px solid #dfdfdf;
	background-color: #f7f7f7;
}

.tabs .tab-control{
	display: none;
}

.tabs > label{
	display: block;

	float: left;
	position: relative;
	z-index: 10;
	
	padding: 14px 40px;
	margin: 0;
	  
	font-size: 14px;
	color: #3d4850;

	border-right: 1px solid #dfdfdf;
}

.tabs > label:hover{
	color: #fff;
	background-color: #3d4850;
	cursor: pointer;

	border-bottom: 1px solid #fff;
}

.tabs #tab-control-1:checked ~ label[for="tab-control-1"],
.tabs #tab-control-2:checked ~ label[for="tab-control-2"],
.tabs #tab-control-3:checked ~ label[for="tab-control-3"],
.tabs #tab-control-4:checked ~ label[for="tab-control-4"],
.tabs #tab-control-5:checked ~ label[for="tab-control-5"],
.tabs #tab-control-6:checked ~ label[for="tab-control-6"]{
	background-color: #3d4850;
	color: #fff;

	border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
	.tabs{
		border-top: 0;
	}
	.tabs > label{
		width: 100%;
		margin: 0;
		padding: 10px 15px;
		border: 0;
		border-top: 1px solid #dfdfdf;
		background-image: url(images/tab-arrow-mobile.png);
		background-repeat: no-repeat;
		background-position: right center;
	}
	.tabs > label:hover{
		border-bottom: 0;
		background-image: url(images/tab-arrow-mobile-open.png);
	}
	.tabs #tab-control-1:checked ~ label[for="tab-control-1"],
	.tabs #tab-control-2:checked ~ label[for="tab-control-2"],
	.tabs #tab-control-3:checked ~ label[for="tab-control-3"],
	.tabs #tab-control-4:checked ~ label[for="tab-control-4"],
	.tabs #tab-control-5:checked ~ label[for="tab-control-5"],
	.tabs #tab-control-6:checked ~ label[for="tab-control-6"]{
		background-image: url(images/tab-arrow-mobile-open.png);
	}
}

.tabs .tab-content{
	display: none;
	float: left;
	width: 100%;
	padding: 15px 40px;

	font-size: 15px;
	line-height: 1.5;
	color: #3d4850;

	background-color: #fff;
}

.tabs .tab-content img,
.tabs .tab-content img{
	width: auto !important;
	height: auto !important;
	max-width: 100%;
}

.tabs .tab-content ul li,
.tabs .tab-content ol li{
	margin-bottom: 4px;
}

@media (max-width: 767px) {
	.tabs .tab-content{
		border: 0;
		padding: 15px;
	}	
}

#tab-control-1:checked ~ #tab-content-1,
#tab-control-2:checked ~ #tab-content-2,
#tab-control-3:checked ~ #tab-content-3,
#tab-control-4:checked ~ #tab-content-4,
#tab-control-5:checked ~ #tab-content-5,
#tab-control-6:checked ~ #tab-content-6{
	display: block;
}

@media (max-width: 767px) {
	.tabs .desktop-label{
		display: none;
	}
}

@media (min-width: 768px) {
	.tabs .mobile-label{
		display: none;
	}
}


.box-products{
	display: none;
}

.box-products h2{
	border-bottom: 2px solid #eb6737;
	font-weight: 700;
	font-size: 17px;
	margin: 0;
	color: #fff;
}

.box-products h2 span{
	display: inline-block;
	padding: 10px 15px;
	background-color: #eb6737;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}


.products{
	position: relative;
	padding: 0 15px 0;
}

@media (max-width: 575px){
	.products{
		padding: 0;
	}	
}


.products .product-hover{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;

	padding: 0 15px;
	left: 0;
	top: 0;

	opacity: 0.75;
	display: none;
}

.products .product-hover div{
	position: relative;
	height: 100%;
	background-color: #000000;
}

.products .product-link{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.products .product-link span{
	display: inline-block;
	position: relative;
	top: 45%;
	margin: 0;

	line-height: 26px;
	color: #fff;
	font-size: 26px;
	letter-spacing: 0.025em;
	text-decoration: ;
}

.products:hover .product-hover,
.products:hover .product-link{
	display: block;
}


.products .product{
	display: none;
	margin: 20px 0;
}

.products .product.hidden{
	display: none !important;
}

.products .product .link{
	display: block;
	color: #3d4850;
	text-decoration: none;
}

.products .product .image{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 100%;
	transition: all .15s linear;
	-o-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-webkit-transition: all .15s linear;
}

.products .product > .image:hover{
	opacity: 0.85;
}

.products .product .image img{
	width: 100%;
}

.products .product .image .enlarge{
	display: none;
	z-index: 100;
	position: absolute;
	left: 108%;
	top: -25%;
	width: 320px;
	height: 320px;
	padding: 10px;
	border: 1px solid #666;
	border-radius: 3px;
	background-color: #fff;
}

.products .product:nth-of-type(3) .image .enlarge,
.products .product:nth-of-type(4) .image .enlarge,
.products .product:nth-of-type(7) .image .enlarge,
.products .product:nth-of-type(8) .image .enlarge{
	left: auto;
	right: 108%;
}

.products .product .image .enlarge:after{
	width: 23px;
	height: 22px;
	background-image: url(images/popup.png);
	position: absolute;
	left: 0;
	top: 50%;
	margin: -11px 0 0 -23px;
	content: "";
}

.products .product:nth-of-type(3) .image .enlarge:after,
.products .product:nth-of-type(4) .image .enlarge:after,
.products .product:nth-of-type(7) .image .enlarge:after,
.products .product:nth-of-type(8) .image .enlarge:after{
	left: auto;
	right: 0;
	margin: -11px -23px 0 0;
	background-position: -23px top;
}

@media(min-width: 1024px){
	.products .product .image:hover .enlarge{
		display: block;
	}
	.products .product .image:hover .enlarge:hover{
		display: none;
	}
}


.products .product .title{
	height: 70px;
	line-height: 17px;
	overflow: hidden;
	display: block;
	font-size: 13px;
	color: #767676;
	margin-bottom: 5px;
}

.products .product .title:hover{

}

@media (min-width: 1024px){
	.products .product .title{
		height: 50px;
	}
}

@media (min-width: 576px) and (max-width: 767px){
	.products .product .title{
		height: 50px;
	}
}

.products .product .rrp{
	overflow: hidden;
	margin: 0;
	height: 19px;
	display: block;
	font-size: 12px;
	color: #666;
	text-decoration: line-through;
	display: none !important;
}

.products .product .price{
	display: block;
	margin: 0;
	font-size: 15px;
	color: #3d4850;
	font-weight: 700;
}


#footer .container{
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #f7f7f7;
	text-align: center;
}

#footer img{
	max-width: 100%;
}

@media (min-width: 768px){
	#footer img{
		float: left;
	}
}


#footer ul{
	float: right;
	margin: 30px 0 0;
	list-style: none;
	padding: 0;
}

#footer ul li{
	float: left;
	padding: 0 10px;
	border-left: 1px solid #d3d3d3;
}

#footer ul li:first-child{
	border-left: 0;
}

#footer ul li a{
	font-size: 14px;
	color: #3d4850;
}

@media (max-width: 1023px){
	#footer ul li a{
		font-size: 13px;
	}
}

#footer ul li a:hover{
	color: #3d4850;
}

#footer ul.categories > li > ul,
#footer ul.categories > li > ul > li > ul{
	display: none;
}



#footer-sub{
	background-color: #fff;
	padding: 30px 0 10px;
	text-align: center;
}
